<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MFN detail</title>
  <meta name="description" content="{{.Response.Content.WebTitle}}">
  <meta name="author" content="SitePoint">
  <link rel="stylesheet" type="text/css" href="/static/news_detail.css">
  <link rel="icon" type="image/png" href="data:image/png;base64,iVBORw0KGgo=">
</head>

<body>
  <h1>{{.Response.Content.WebTitle}}</h1>
  {{.Response.Content.Blocks.Main.BodyHtml}}
  {{range .Response.Content.Blocks.Body}}
    {{.BodyDataHtml}}
  {{end}}
  <a href="/" id="back-link">Back to main page</a>
</body>
</html>
