<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>NNN</title>
  <meta name="description" content="No Nonsense News">
  <meta name="author" content="SitePoint">
  <link rel="stylesheet" type="text/css" href="/static/overview.css">
  <link rel="icon" type="image/png" href="data:image/png;base64,iVBORw0KGgo=">
</head>

<body>
  <h1>Today's Headlines (04/03/2021)</h1>
  <ul class="test">
  {{range .}}
  <li>
    <a href="/article/{{.Slug}}">
      {{.WebTitle}}
    </a>
  </li>
  {{end}}
  </ul>
</body>
</html>
